aside {
  width: 15vw;
  height: 100vh;
  padding: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 9px 0px 11px -6px rgba(0, 0, 0, 0.75);
//   .aside__categories{

//   }
}
